* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

:root {
  --dark: #2a2a2a;
  --lightgrey: #f9f9f9;
  --blue: #1c539f;
  --shinyblue: #1c53af;
  --yellow: #f8b92a;

  --margin: 5px;
  --padding: 5px;
  --border-radius: 20px;
}

body {
  background-color: var(--blue);
  background-size: cover;
  width: auto;
}

/* Navbar section styles. */
.navbar-section {
  width: 100%;
  display: inline-block;
  background-color: var(--blue);
  font-weight: 700 !important;
  padding-top: calc(var(--padding) * 2);
}

.navbar-section li a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;

  color: var(--lightgrey);

}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 4%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-content .navbar-logo {
  height: 60px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}


.nav-links li a:hover {

color: var(--yellow)
}



/* Profile section styles */
.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding) * 5) 0;
}

/* Card styles */
.profile-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr;
  color: var(--dark);
  width: 50%;
  box-shadow: 8px 4px 12px rgba(28, 83, 100, 1);
  background-color: var(--yellow);
  margin: calc(var(--margin) * 3) auto;
  padding: calc(var(--padding) * 8) var(--padding);
  border-radius: calc(var(--border-radius) / 2);
}

.profile-card-col {
  display: inline-block;
  background-color: var(--yellow) !important;
  padding: var(--padding);
}

.profile-card-col > * {
  margin-bottom: var(--margin);
}

.profile-card-col-title {
  display: block;
  font-weight: bold;
  text-decoration: underline wavy;
  margin-bottom: calc(var(--margin) * 3);
}

.profile-card-intro {
  display: block;
  color: var(--lightgrey);
  text-align: center;
}

.profile-card-intro-image {
  border-radius: 20%;
  width: 128px;
}

.profile-card-work-container {
  margin-bottom: calc(var(--margin) * 2);
  text-align: left;
}

.profile-card-side-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-card-side-pill {
  color: var(--lightgrey);
  font-size: x-small;
  background-color: chocolate;
  padding: var(--padding);
  border-radius: calc(var(--border-radius) / 3);
  white-space: nowrap;
}

.profile-card-side-container > * {
  margin: calc(var(--margin) / 3);
}
