<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="/static/styles/main.css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="navbar-section">
      <div class="navbar-content">
        <a href="https://fellowship.mlh.io/" target="_blank" rel="noopener">
          <div class="navbar-logo">
            <img width="200px" src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </div>
    <div class="profile-section">
      {% for user in users %}
      <div class="profile-card">
        <div class="profile-card-col">
          <div class="profile-card-intro">
            <img class="profile-card-intro-image" src="./static/img/logo.jpg" />
            <h2>{{ user.firstName }}</h2>
            <h3>{{ user.lastName }}</h3>
          </div>
        </div>
        <div class="profile-card-col">
          <span class="profile-card-col-title">Top work experiences</span>
          {% for workExperience in user.workExperiences %}
          <div class="profile-card-work-container">
            <h4>{{ workExperience.company }}</h4>
            <h5>{{ workExperience.position }}</h5>
            <p><i>{{ workExperience.description }}</i></p>
          </div>
          {% endfor %}
        </div>
        <div class="profile-card-col">
          <span class="profile-card-col-title">Hobbies</span>
          <div class="profile-card-hobbies-container">
            {% for hobby in user.hobbies %}
            <div class="profile-card-hobby-pill">{{ hobby }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
